USE [DESQLTest]
GO
/****** Object:  Table [dbo].[Airports]    Script Date: 12/6/2024 6:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airports](
	[IATA_CODE] [nvarchar](3) NOT NULL,
	[AIRPORT] [nvarchar](100) NOT NULL,
	[CITY] [nvarchar](50) NOT NULL,
	[STATE] [nvarchar](50) NOT NULL,
	[COUNTRY] [nvarchar](50) NOT NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
 CONSTRAINT [PK_Airports] PRIMARY KEY CLUSTERED 
(
	[IATA_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
